html, body {
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    font-size: larger;
}

.navbar {
    width: 100%;
    background-color: #458143;
    overflow: auto;
    display: flex;
  }

.navbar a {
    float: left;
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* five links of equal width */
}

.navbar a:hover {
    background-color: #186916;
}

.navbar a.active {
    background-color: #008512;
  }

.flex-container {
    background-color: #458143;
}